<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MLH Localhost Tweets</title>
    </head>
    <body>
        <h1>Tweets</h1>
        <ul id="tweet_list">
            {% for tweet in tweets %}
            <li>
                <div class="tweet">
                    <img class="tweet__profile_image" src="{{ tweet.user.profile_image_url }}">
                    <p class="tweet__username">{{ tweet.user.name }}</p>
                    <p class="tweet__screenname">@{{ tweet.user.screen_name }}</p>
                    <p class="tweet__text">{{ tweet.text }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>